@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    height: 100%;
    font-family: 'Encode Sans Condensed', sans-serif;
    margin: 0;

}

.website-wrapper {
    display: flex;
    flex-flow: column;

    .content {
        height: calc(100vh - 64px);
        z-index: 4;

        .particle-background {
            z-index: -1;
            position: absolute;
        }

        // PROJECTS PAGE STYLING
        .projects-page-wrapper {
            margin: 0 50px;
            display: flex;
            flex-direction: column;
            height: 100%;

            .project-page-description {
                text-align: center;
                margin: 4px 0 10px 0;
                font-size: 18px;
            }

            .project-cards {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;

                .project-card-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    border-radius: 10px;
                    margin: 10px;
                    padding: 8px;
                    box-shadow: 0 4px 8px 0 #0054A4;
                    background-color: #FFFFFF;

                    .project-card-description {
                        margin: 4px 0 4px 0;
                        text-align: center;
                    }

                    .project-card-chips {
                        display: flex;
                    }
                }
            }


        }

        // HOME PAGE STYLING

        .home-page-wrapper {
            display: grid;
            grid-template-rows: 15% 45% 40%;
            height: 100%;

            background:
                linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
                url('/landscape.jpg');
            background-repeat: no-repeat;
            /* Prevents image from repeating */
            background-size: cover;
            /* Scales image to cover the entire background */
            background-attachment: fixed;
            /* Keeps image fixed when scrolling */
            background-position: center bottom;

            .homepage-footer-credit {
                grid-row-start: 3;
                grid-row-end: 4;

                position: absolute;
                bottom: 20px;
                /* distance from bottom */
                left: 20px;
                /* distance from left */

                #footer-text {
                    font-size: 15px;
                    color: #FFFFFF;
                    margin: 0px 0px 20px 15px;
                }
            }

            .home-page-content {
                grid-row-start: 2;
                grid-row-end: 3;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 20px;

                #home-page-name {
                    font-size: 70px;
                    font-weight: 600;
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;
                    background-color: none;
                    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
                }

                #home-page-description {
                    font-size: 30px;
                    background-color: none;
                    text-align: center;
                    color: #FFFFFF;
                    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
                }

                .homepage-icons-container {
                    display: flex;
                    align-items: center;
                    background-color: none;
                    color: #FFFFFF;
                    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);

                    a {
                        text-decoration: none;
                        cursor: pointer;
                        margin: 0 4px 0 4px;
                        color: #FFFFFF;
                    }
                }

                .homepage-resume-section {
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                    background-color: none;
                    color: #FFFFFF;
                    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);

                    a {
                        text-decoration: none;
                        cursor: pointer;
                        color: #FFFFFF;
                        margin-top: 8px;
                        margin-left: 4px;
                    }
                }

                .research-interests-section {
                    color: #FFFFFF;
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    font-size: 20px;
                    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);

                    .research-chips-section {
                        margin-left: 4px;
                        display: flex;
                        align-items: center;
                    }
                }

                .job-description {
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                    background-color: none;
                    margin-bottom: 20px;
                    text-align: center;
                    flex-wrap: wrap;
                    color: #FFFFFF;

                    a {
                        text-decoration: none;
                        cursor: pointer;
                        color: #FFFFFF;
                        margin-top: 8px;
                        margin-left: 4px;
                    }
                }
            }
        }
    }
}

// OTHER STYLING
@media screen and (min-width: 600px) {
    #name-initials {
        display: none;
    }

    #occupation-short {
        display: none;
    }


    #job-description-short {
        display: none;
    }

    .project-card-container {
        height: 300px;
        width: 400px;
    }

    .research-chips-section {
        flex-direction: row;
    }
}

@media screen and (max-width: 600px) {
    #name-full {
        display: none;
    }

    #occupation-full {
        display: none;
    }

    #job-description-full {
        display: none;
    }

    .project-card-container {
        width: 300px;
        height: 300px;
    }

    .research-chips-section {
        flex-direction: column;
    }

    #research-interests-title {
        display: none;
    }
}

.project-card-dialog-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        margin: 0 20px 20px 20px;
    }
}

.project-card-dialog-description {
    margin-bottom: 20px;

    #mvmt-tracker-additional-info {
        font-size: 14px;
        margin-top: 4px;
    }
}